# Social Media Content Analysis

I analyzed the performance of different content categories on social media platforms to identify the most optimal social media platform to communicate the company's value propositions. Also, I generated data visualization so that creative team members intuitively understand which categories are performing or not performing. 

The analysis relived that the posts about core values are not as many as other content categories, and their performance was the worst. This result led me to shift the strategic marketing plan to focus more on internal brand training so that team members understand the value propositions from the first place. 

*This project was a good example of how analysis can influence strategic marketing planning and help a marketing team's day-to-day channel performance.*

## Background
An higher education instition that I worked for (Let's say "ABC University") has 6 core values; **faculty, curriculum, career opportunity**, location, diversity, alumni network. (The first three values are the key values.) Our social media team's goal was to communicate these core values in engaging way while maximing the exposure (=impression). In order to acquire high impressions, make the posts highly engaging is essentioal but these core values are not necessarily "fun" topics to discuss.

The social media team used to post the same content across 4 major social media channels (Facebook, LinkedIn, Instagram, and Twitter) or occationally posted different content on paricular channel, but these creative deicison was not based on any data or assumtion. 

*This project was a good example of how analysis can influence strategic marketing planning and help a marketing team's day-to-day channel performance.*


## Objective
Identify the most optimal platform(s) for each core value. Make the creative deicision.

## Audience
Social media team

## Measure of Success

- Engagement rate (# of post engagement / # of impression) *– Engagement is user' behaivors such as "Like", "Comments", and "Share". Higher the engagement rate, the higher the quality of content is.
- The number of posts
- The number of impression *– This indicate how much a single social media post is shown on user's timeline. This is usually used as an indirect measure of brand awareness*

## Data Source
- The raw data of social media posts that published between past 12 months (January 1, 2020, December 21, 2020) were exported from a social media management platform, Sprout Social as `.csv`.
- In addition to the 6 core values, a few content category tags are also used. 
- For confidentiacility, a part of original data is hidden in this report

## Insights
- All of three key values (faculty, curriculum, and career opporunity) were the worst performing content across the platforms.
- The number of post is heavly skewed to "student work" category on social meida and the category is performing well. However, the post about core values are very little.
- The engagement of "student work" category on Facebook is significantly higher than other content categories. However, the impression is not necessarily higher. This implies there might not be a strong correlation between post engagements and impression on Facebook.


## Action items
- As the low performance of content about the three key core values are critical issue, I conducted an internal brand training to educate the team members about the company's value proposition. 
- Explore new ways to improve Facebook's organic impression since there is little correlation between post engagements and impression. The basic strategy for social media is to improve engagement, which also help organic impression, but Facebook needs a different strategy.


## Limitation and future project
Social media team had to manually tag the content type, which was extremly time consuing. Also, tagging can be subjective without a clear guideline. This process can be improved by using NLP.

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 999) #This option force Jupyternotebook to show all columns.

In [3]:
cols_to_use =['Date', 'Post ID', 'Network','Post Type','Link', 'Impressions',
       'Organic Impressions', 'Engagement Rate (per Impression)',
       'Engagements', 'Reactions', 'Comments',
       'Shares','Tags']

In [4]:
post_raw = pd.read_csv('Post Performance (Academy of Art University) January 1, 2020 - December 31, 2020.csv', parse_dates=['Date'], usecols=cols_to_use)

C:\Users\Wakana\Anaconda3\lib\site-packages\dateutil\parser\_parser.py:1212: UnknownTimezoneWarning: tzname PDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
C:\Users\Wakana\Anaconda3\lib\site-packages\dateutil\parser\_parser.py:1212: UnknownTimezoneWarning: tzname PST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [5]:
#Pull only "Post" type data
post_type_to_keep = (post_raw['Post Type'] == 'Post')| (post_raw['Post Type'] == 'Tweet')
post_raw = post_raw[post_type_to_keep]
#fill na with 0
post_raw = post_raw.fillna(0)

In [5]:
post_raw.head(5)

,Date,Post ID,Network,Post Type,Link,Impressions,Organic Impressions,Engagement Rate (per Impression),Engagements,Reactions,Comments,Shares,Tags
0,2020-05-11 08:53:00,6665639902232879104,LinkedIn,Post,https://linkedin.com/feed/update/urn:li:activi...,72,NaN,-15.3%,-11,-11,0.0,0.0,"Online Education, summer start"
1,2020-05-11 08:52:00,6665639836776562688,LinkedIn,Post,https://linkedin.com/feed/update/urn:li:activi...,68,NaN,-14.7%,-10,-9,0.0,-1.0,"Online Education, summer start"
2,2020-05-29 10:19:00,1266418782920196097,Twitter,Tweet,https://twitter.com/academy_of_art/status/1266...,243,NaN,0%,0,0,0.0,0.0,"FSH, Student success"
3,2020-05-04 21:56:00,1257534488323723265,Twitter,Tweet,https://twitter.com/academy_of_art/status/1257...,"1,274",NaN,0%,0,0,0.0,0.0,"FSH, Faculty, workshop"
4,2020-04-03 13:36:00,1246174636712308738,Twitter,Tweet,https://twitter.com/academy_of_art/status/1246...,852,NaN,0%,0,0,0.0,0.0,"LAN, Student success, alumni success, blog"

In [6]:
post_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1982 entries, 0 to 1981
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date                              1982 non-null   datetime64[ns]
 1   Post ID                           1982 non-null   object
 2   Network                           1982 non-null   object
 3   Post Type                         1982 non-null   object
 4   Link                              1981 non-null   object
 5   Impressions                       1963 non-null   object
 6   Organic Impressions               609 non-null    object
 7   Engagement Rate (per Impression)  1962 non-null   object
 8   Engagements                       1967 non-null   object
 9   Reactions                         1967 non-null   object
 10  Comments                          1967 non-null   float64
 11  Shares                            1563 non-null   float64
 12  Tags                              1737 non-null   object
dtypes: datetime64[ns](1), float64(2), object(10)
memory usage: 201.4+ KB

In [7]:
# A function to change dtype of engagement and impression to int64 if their dtype if object
def change_dtype(platform):
    if platform["Engagements"].dtype == "object":
        platform['Engagements'] = platform['Engagements'].str.replace(",","")
        platform['Engagements'] = platform['Engagements'].fillna(0)
        platform['Engagements'] = platform['Engagements'].astype('int64')
    
    if platform['Impressions'].dtype == "object":
        platform['Impressions'] = platform['Impressions'].str.replace(",","")
        platform['Impressions'] = platform['Impressions'].fillna(0)
        platform['Impressions'] = platform['Impressions'].astype('int64')

#A function to calculate engagement rate
def engagement_calculator(platform):
    platform['Engagement Rate'] = platform['Engagements']/platform['Impressions']

    data_to_check = ['Date', 'Network','Impressions', 'Engagements','Post ID', 'Engagement Rate']
    platform['Engagement Rate'].replace(np.inf, np.nan, inplace = True)
    platform.dropna(subset=data_to_check, inplace=True)

In [8]:
#A function to clean data by network except facebook

def clean_data_by_network(network, data):
    network = data[data['Network']==network]
    network = network[['Date', 'Network','Impressions', 'Engagements', 'Post ID', 'Tags']]

    change_dtype(network)
    engagement_calculator(network)
    
    return network

In [9]:
#A function to clean facebook data

def clean_facebook_data(data):
    Facebook = data[data['Network']=='Facebook']
    Facebook = Facebook[['Date', 'Network','Organic Impressions', 'Comments', 'Shares', 'Reactions', 'Post ID', 'Tags']]

    cols_to_check_dtype = ['Organic Impressions', 'Comments', 'Shares', 'Reactions']
    
    for d in cols_to_check_dtype:
        if Facebook[d].dtype == "object":
            Facebook[d] = Facebook[d].str.replace(",","")
            Facebook[d] = Facebook[d].fillna(0)
            Facebook[d] = Facebook[d].astype('int64')
            
    
    #Conbine Reaction, Comments and Share
    Facebook['Facebook Engagements'] = Facebook['Reactions']+ Facebook['Comments']+ Facebook['Shares']
    
    #Calculate engagement rate
    Facebook['Engagement Rate'] = Facebook['Facebook Engagements']/Facebook['Organic Impressions']
    Facebook['Engagement Rate'].replace(np.inf, np.nan, inplace = True)
    
    #remove reactions, Comments, and Shares
    to_keep = ['Date', 'Network','Organic Impressions', 'Facebook Engagements','Post ID', 'Engagement Rate','Tags']
    Facebook = Facebook[to_keep]
    
    Facebook.rename(columns = {"Organic Impressions": "Impressions", "Facebook Engagements":"Engagements"}, inplace = True)
    data_to_check = ['Date', 'Network','Impressions', 'Engagements','Post ID', 'Engagement Rate']
    Facebook.dropna(inplace=True, subset=data_to_check)
    
    return Facebook

In [52]:
facebook_cleaned = clean_facebook_data(post_raw).copy()
twitter_cleaned = clean_data_by_network('Twitter', post_raw ).copy()
instagram_cleaned = clean_data_by_network('Instagram', post_raw ).copy()
linkedin_cleaned = clean_data_by_network('LinkedIn', post_raw ).copy()

In [53]:
#Concatinate the 4 differente DFs
Networks = [facebook_cleaned, twitter_cleaned, instagram_cleaned, linkedin_cleaned]
all_data = pd.concat(Networks)

#Rearrange the column order
all_data = all_data[['Date', 'Network', 'Impressions', 'Engagements', 'Engagement Rate', 'Post ID', 'Tags']]

In [15]:
all_data.head()

,Date,Network,Impressions,Engagements,Engagement Rate,Post ID,Tags
5,2020-01-31 13:48:00,Facebook,29,0.0,0.000000,82777273087_10157964614048088,NaN
25,2020-03-19 08:32:00,Facebook,1733,0.0,0.000000,82777273087_10158108398363088,"IDS, Industry Spotlight, Student success, video"
42,2020-11-05 15:00:00,Facebook,1122,0.0,0.000000,82777273087_10158785186668088,"Partnership, Student Work"
54,2020-04-01 17:53:00,Facebook,1191,11.0,0.009236,82777273087_10158160206033088,"alumni success, creative mind, faculty success"
55,2020-04-15 15:54:00,Facebook,1771,36.0,0.020327,82777273087_10158209100833088,"GAM, creative mind, faculty success"

In [54]:
export_cols = ['Date', 'Network', 'Impressions', 'Engagements', 'Engagement Rate', 'Post ID']

def export_for_tableau(data_period, data):
    filename = f"Individual_post_performance_{data_period}.csv"
    data.to_csv(filename, columns=export_cols)

In [55]:
export_for_tableau('January 1, 2020 - December 31, 2020', all_data)

In [56]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1962 entries, 5 to 1941
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             1962 non-null   datetime64[ns]
 1   Network          1962 non-null   object
 2   Impressions      1962 non-null   int64
 3   Engagements      1962 non-null   float64
 4   Engagement Rate  1962 non-null   float64
 5   Post ID          1962 non-null   object
 6   Tags             1720 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 122.6+ KB

## Processing Tags

In [57]:
#Replace "student artwork" with "student work" because in the mid of 2020, we changed the SproutSocial tagging rules

all_data['Tags'] = all_data['Tags'].replace({'Student Artwork':'Student Work','alumni success':'success','Student success':'success','faculty success':'faculty'}, regex=True)
all_data.head()

,Date,Network,Impressions,Engagements,Engagement Rate,Post ID,Tags
5,2020-01-31 13:48:00,Facebook,29,0.0,0.000000,82777273087_10157964614048088,NaN
25,2020-03-19 08:32:00,Facebook,1733,0.0,0.000000,82777273087_10158108398363088,"IDS, Industry Spotlight, success, video"
42,2020-11-05 15:00:00,Facebook,1122,0.0,0.000000,82777273087_10158785186668088,"Partnership, Student Work"
54,2020-04-01 17:53:00,Facebook,1191,11.0,0.009236,82777273087_10158160206033088,"success, creative mind, faculty"
55,2020-04-15 15:54:00,Facebook,1771,36.0,0.020327,82777273087_10158209100833088,"GAM, creative mind, faculty"

In [58]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
#A main function to process tag strings
def process_tags(df):
    df_tags = df.copy()
    
    #A function clean up tag strings 
    def clean_up_tags(df):
        
       # df_tags = df.dropna()  #Remove Nan because Nan considered as float
        df['Tags'] = df['Tags'].str.lower()  #format the tags data by making them lowercase
        df['Tags'] = df['Tags'].str.split(pat=', ')  #split each of strings into a list
        df = df[df['Tags'].notna()]
        return df
    df_tags = clean_up_tags(df_tags)
    #print(df_tags)
    
    
    #A function to create a list to collect all unique tags from these lists
    def collect_tags(new_df):
        tags = set(new_df['Tags'].explode().values) #Create a set to remove duplicate first
        tags = list(tags) #convert the set to list
        tags = [tag for tag in tags if str(tag)!= 'nan']
        return tags
    global tags
    tags = collect_tags(df_tags)
    #print(tags)


    #A function to create a new boolean colum for each tag
    def create_tag_cols(new_df, tag_list):
        for tag in tag_list:
            new_df[tag] = [tag in new_df['Tags'].loc[i] for i in new_df.index]
        return new_df
    df_tags = create_tag_cols(df_tags, tags)
    

    #A function to create a new df to store data by category
    def create_category_df(df_tags, tags):

        #Creating a list of the number of tags used
        num_of_post = []
        for cat in tags:
            num_of_post.append(df_tags[cat].values.sum())

        data = {'Category': tags, 'Number of posts': num_of_post,}
        cat_df = pd.DataFrame(data)
        cat_df = cat_df.set_index('Category')
        cat_df['Impressions']= np.nan
        cat_df['Engagements']= np.nan  

        #A function to extract key metrics from df_tags
        metrics_to_use = ['Impressions','Engagements']
        def get_metrics(metrics_list):
            for cat in tags:
                for metric in metrics_list:
                    cat_df.loc[cat, metric] = df_tags[df_tags[cat]==1][metric].sum()
            return cat_df

        cat_df = get_metrics(metrics_to_use)

        #function to calculate engagement rate
        def get_engagement_rage(category_df):
            category_df['Engagement Rate']=category_df['Engagements']/category_df['Impressions']
            category_df['Average Engagement']=category_df['Engagements']/category_df['Number of posts']
            category_df['Average Impression']=category_df['Impressions']/category_df['Number of posts']
            category_df = category_df.round(2)
            category_df.sort_values(by='Engagement Rate', inplace = True, ascending=False)
            category_df.reset_index(inplace = True)
            return category_df

        cat_df = get_engagement_rage(cat_df)
        return cat_df
    cat_df = create_category_df(df_tags, tags)
    
    return cat_df

In [60]:
content_category_df = process_tags(all_data)
content_category_df.head()

,Category,Number of posts,Impressions,Engagements,Engagement Rate,Average Engagement,Average Impression
0,international,10,22244.0,2127.0,0.10,212.70,2224.40
1,giveaway,3,9392.0,893.0,0.10,297.67,3130.67
2,blm,8,62705.0,4873.0,0.08,609.12,7838.12
3,holiday,40,140756.0,11247.0,0.08,281.18,3518.90
4,artuathome,9,41744.0,2734.0,0.07,303.78,4638.22

In [24]:
def export_tag_report(data, MMYY):
    filename = f"content_category_report_{MMYY}.csv"
    data.to_csv('filename')

In [25]:
export_tag_report(content_category_df, "2020")

## DataFrame by platforms
#### DATA TO USE
`twitter_cleaned`
`facebook_cleaned`
`instagram_cleaned`
`linkedin_cleaned`

In [26]:
twitter = process_tags(twitter_cleaned)
facebook = process_tags(facebook_cleaned)
instagram = process_tags(instagram_cleaned)
linkedin = process_tags(linkedin_cleaned)

In [27]:
twitter.describe()

,Number of posts,Impressions,Engagements,Engagement Rate,Average Engagement,Average Impression
count,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000
mean,15.200000,23061.578947,337.873684,0.014737,25.188737,1812.353579
std,19.533713,27840.203494,462.503416,0.009983,27.931219,2581.513484
min,1.000000,981.000000,4.000000,0.000000,4.000000,690.000000
25%,2.000000,3362.500000,39.000000,0.010000,12.245000,1292.850000
50%,6.000000,9860.000000,122.000000,0.010000,18.410000,1503.830000
75%,22.000000,35694.000000,526.500000,0.020000,27.500000,1706.070000
max,94.000000,133623.000000,2493.000000,0.060000,203.500000,26314.000000

## Creating Subsettings for content types
- Primary category: Top content hierarchy
    `curriculum`, `success`,`awards & honors`, `partnership`, `academy cares`,`faculty`,`events`, `engagement`,`sf`, 
    `student artwork`
- Secondary category: Internal user only to collect data of spesific campaigns
- Department

In [28]:
tags

['mus',
 'ids',
 'ill',
 'faculty success',
 'study tips',
 'arc',
 'department spotlight',
 'international',
 'video',
 'vis',
 'art history',
 'blog',
 'artu',
 'webinar',
 'spring start',
 'sf',
 'blm',
 'sf events',
 'student success',
 'pride',
 'student work',
 'creative mind',
 'awards',
 'artu news',
 'entertainment arts',
 'alumni success',
 'ph',
 'industry spotlight',
 'workshop',
 'wri',
 'art bundle',
 'financial aid',
 'holiday',
 'blockbuster',
 'act',
 'juxtapoz',
 'website',
 'academy cares',
 'art edu',
 'tiktok',
 'online',
 'anm',
 'commencement',
 'mptv',
 'student artwork',
 'weekend read',
 'wnm',
 'adv',
 'arch',
 'online education',
 'student life',
 'fsh',
 'gam',
 'social media management',
 'fall start',
 'esports',
 'fa',
 'engagement',
 'california by design',
 'military',
 'contest',
 'lan',
 'curriculum',
 'jem',
 'awards & honors',
 'study abroad',
 'spring show',
 'partnership',
 'www',
 'com',
 'iad',
 'summer start',
 'faculty',
 'events',
 'gd',
 'athletics',
 'career']

In [61]:
#Creating a list of primary content categories
primary_content = ['curriculum', 'success','awards & honors', 'partnership', 'academy cares','faculty','events', 'engagement','sf', 'student work']

#Creating a list of departments
schools = ['act','adv','anm','arch','art edu','art history', 'athletics', 'com', 'fa', 'fsh','gam','gr','iad', 'ids','ill','jem','lan','mptv','mus','ph','vis', 'wnm','wri']

In [62]:
#subsetting primary content category only
performance_by_primary = content_category_df[content_category_df['Category'].isin(primary_content)]
performance_by_primary.head()

,Category,Number of posts,Impressions,Engagements,Engagement Rate,Average Engagement,Average Impression
8,student work,261,829594.0,48191.0,0.06,184.64,3178.52
23,academy cares,70,240629.0,11550.0,0.05,165.00,3437.56
28,awards & honors,62,167674.0,7737.0,0.05,124.79,2704.42
29,engagement,120,399233.0,21505.0,0.05,179.21,3326.94
32,events,95,204093.0,7659.0,0.04,80.62,2148.35

In [31]:
#subsetting school only
performance_by_school = content_category_df[content_category_df['Category'].isin(schools)]
performance_by_school.head()

,Category,Number of posts,Impressions,Engagements,Engagement Rate,Average Engagement,Average Impression
10,ph,104,332674.0,18867.0,0.06,181.41,3198.79
21,art edu,13,38808.0,1992.0,0.05,153.23,2985.23
34,iad,23,68164.0,2738.0,0.04,119.04,2963.65
35,anm,69,176740.0,6802.0,0.04,98.58,2561.45
36,fa,116,332098.0,13456.0,0.04,116.00,2862.91

In [32]:
#subsetting other content type only
criteria = ~content_category_df['Category'].isin(schools) | ~content_category_df['Category'].isin(performance_by_primary)
performance_by_secondary = content_category_df[criteria]
performance_by_secondary.head()

,Category,Number of posts,Impressions,Engagements,Engagement Rate,Average Engagement,Average Impression
0,international,10,22244.0,2127.0,0.10,212.70,2224.40
1,giveaway,3,9392.0,893.0,0.10,297.67,3130.67
2,blm,8,62705.0,4873.0,0.08,609.12,7838.12
3,holiday,40,140756.0,11247.0,0.08,281.18,3518.90
4,artuathome,9,41744.0,2734.0,0.07,303.78,4638.22

## Visualizayion: Primary Content Category

In [63]:
from matplotlib import pyplot as plt
import seaborn as sns

In [64]:
#Create color pallet for each category
colors = {'curriculum': 'red', 'success':'darkorange','awards & honors':'gold', 'partnership':'yellow', 'academy cares':'yellowgreen','faculty':'green','events':'teal', 'engagement':'skyblue','sf':'blue', 'student work':'pink'}

In [65]:
#aggregate the category performance using pivot_table
agg_perimary_category = pd.pivot_table(performance_by_primary, index=['Category'], values=['Number of posts', 'Impressions', 'Engagements', 'Engagement Rate', 'Average Engagement', 'Average Impression'], aggfunc={'Number of posts':np.sum, 'Impressions':np.mean, 'Engagements':np.mean, 'Engagement Rate':np.mean, 'Average Impression':np.mean, 'Average Engagement':np.mean})
agg_perimary_category = agg_perimary_category.reset_index()


agg_perimary_category['color']= agg_perimary_category['Category'].apply(lambda x: colors[x])
agg_perimary_category

,Category,Average Engagement,Average Impression,Engagement Rate,Engagements,Impressions,Number of posts,color
0,academy cares,165.00,3437.56,0.05,11550.0,240629.0,70,yellowgreen
1,awards & honors,124.79,2704.42,0.05,7737.0,167674.0,62,gold
2,curriculum,70.79,2165.97,0.03,10194.0,311899.0,144,red
3,engagement,179.21,3326.94,0.05,21505.0,399233.0,120,skyblue
4,events,80.62,2148.35,0.04,7659.0,204093.0,95,teal
5,faculty,74.40,2503.17,0.03,12797.0,430546.0,172,green
6,partnership,48.00,2202.72,0.02,4656.0,213664.0,97,yellow
7,sf,47.81,2396.38,0.02,1004.0,50324.0,21,blue
8,student work,184.64,3178.52,0.06,48191.0,829594.0,261,pink
9,success,111.03,2827.00,0.04,42079.0,1071432.0,379,darkorange

### Overall Performance

In [70]:
fig1, ax1 = plt.subplots(2,2, figsize = (20,15), squeeze=False)
fig1.subplots_adjust(hspace=0.4)

# The total number of post
g = sns.barplot(ax= ax1[0,0], 
                data=agg_perimary_category, 
                x= 'Category', 
                y = 'Number of posts', 
                palette=agg_perimary_category['color']
               )
g.set_xticklabels(g.get_xticklabels(),rotation=20)
ax1[0,0].set_title('Total number of post')

# Average impression
g = sns.barplot(ax= ax1[0,1], data=agg_perimary_category, x= 'Category', y = 'Average Impression', palette=agg_perimary_category['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
ax1[0,1].set_title('Average impression')

#Average Engagement 
g = sns.barplot(ax= ax1[1,0], data=agg_perimary_category, x= 'Category', y = 'Average Engagement', palette=agg_perimary_category['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
ax1[1,0].set_title('Average Engagement')

#Average Engagement rate
g = sns.barplot(ax= ax1[1,1], data=agg_perimary_category, x= 'Category', y = 'Engagement Rate', palette=agg_perimary_category['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
ax1[1,1].set_title('Median Engagement Rate');

### Performance by Platform

In [71]:
twitter_primary = twitter[twitter['Category'].isin(primary_content)].reset_index(drop=True)
twitter_primary['color']=twitter_primary['Category'].apply(lambda x: colors[x])

facebook_primary = facebook[facebook['Category'].isin(primary_content)].reset_index(drop=True)
facebook_primary['color']=facebook_primary['Category'].apply(lambda x: colors[x])

instagram_primary = instagram[instagram['Category'].isin(primary_content)].reset_index(drop=True)
instagram_primary['color']=instagram_primary['Category'].apply(lambda x: colors[x])

linkedin_primary = linkedin[linkedin['Category'].isin(primary_content)].reset_index(drop=True)
linkedin_primary['color']=linkedin_primary['Category'].apply(lambda x: colors[x])

In [49]:
twitter_primary

,Category,Number of posts,Impressions,Engagements,Engagement Rate,Average Engagement,Average Impression,color
0,academy cares,22,36637.0,1056.0,0.03,48.00,1665.32,yellowgreen
1,engagement,48,72933.0,2205.0,0.03,45.94,1519.44,skyblue
2,student work,91,119479.0,2493.0,0.02,27.40,1312.96,pink
3,awards & honors,23,31849.0,619.0,0.02,26.91,1384.74,gold
4,events,36,51157.0,780.0,0.02,21.67,1421.03,teal
5,partnership,26,29687.0,451.0,0.02,17.35,1141.81,yellow
6,faculty,41,62421.0,781.0,0.01,19.05,1522.46,green
7,curriculum,49,52351.0,687.0,0.01,14.02,1068.39,red
8,sf,6,6982.0,100.0,0.01,16.67,1163.67,blue

In [72]:
fig, axes = plt.subplots(2,2, figsize = (18,10))

fig.suptitle('Average Engagemet Rate by Content Categories')
fig.subplots_adjust(hspace=0.5)

#Twitter
g = sns.barplot(ax= axes[0,0], data=twitter_primary, x= 'Category', y = 'Engagement Rate', palette=twitter_primary['color'], order=twitter_primary.sort_values('Engagement Rate', ascending=False).Category)
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes[0,0].set_title('Twitter')


#Facebook
g = sns.barplot(ax= axes[0,1], data=facebook_primary, x= 'Category', y = 'Engagement Rate', palette=facebook_primary['color'],order=facebook_primary.sort_values('Engagement Rate', ascending=False).Category)
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes[0,1].set_title('Facebook')

#Instagram
g = sns.barplot(ax= axes[1,0], data=instagram_primary, x= 'Category', y = 'Engagement Rate',palette=instagram_primary['color'],order=instagram_primary.sort_values('Engagement Rate', ascending=False).Category)
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes[1,0].set_title('Instagram')

#LinkedIn
g = sns.barplot(ax= axes[1,1], data=linkedin_primary, x= 'Category', y = 'Engagement Rate',palette=linkedin_primary['color'],order=linkedin_primary.sort_values('Engagement Rate', ascending=False).Category)
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes[1,1].set_title('LinkedIn');

In [77]:
#the number of post

fig2, axes2 = plt.subplots(2,2, figsize = (18,10))

fig2.suptitle('The total number of post by Content Categories')
fig2.subplots_adjust(hspace=0.5)

#wtitter
g = sns.barplot(ax= axes2[0,0], data=twitter_primary, x= 'Category', y = 'Number of posts', palette=twitter_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes2[0,0].set_title('Twitter')

#Facebook
g = sns.barplot(ax= axes2[0,1], data=facebook_primary, x= 'Category', y = 'Number of posts', palette=facebook_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes2[0,1].set_title('Facebook')

#Instagram
g = sns.barplot(ax= axes2[1,0], data=instagram_primary, x= 'Category', y = 'Number of posts',palette=instagram_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes2[1,0].set_title('Instagram')


#LinkedIn
g = sns.barplot(ax= axes2[1,1], data=linkedin_primary, x= 'Category', y = 'Number of posts',palette=linkedin_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes2[1,1].set_title('LinkedIn');

C:\Users\Wakana\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  This is separate from the ipykernel package so we can avoid doing imports until

In [78]:
#Median impression

fig3, axes3 = plt.subplots(2,2, figsize = (18,10))

fig3.suptitle('Average impression by Content Categories')
fig3.subplots_adjust(hspace=0.5)

g = sns.barplot(ax= axes3[0,0], data=twitter_primary, x= 'Category', y = 'Average Impression', palette=twitter_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes3[0,0].set_title('Twitter')


#Facebook
g = sns.barplot(ax= axes3[0,1], data=facebook_primary, x= 'Category', y = 'Average Impression', palette=facebook_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes3[0,1].set_title('Facebook')

#Instagram
g = sns.barplot(ax= axes3[1,0], data=instagram_primary, x= 'Category', y = 'Average Impression',palette=instagram_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes3[1,0].set_title('Instagram')

#LinkedIn
g = sns.barplot(ax= axes3[1,1], data=linkedin_primary, x= 'Category', y = 'Average Impression',palette=linkedin_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes3[1,1].set_title('LinkedIn');

In [42]:
#Median engagement

fig4, axes4 = plt.subplots(2,2, figsize = (18,10))

fig4.suptitle('Average Engagement by Content Categories')
fig4.subplots_adjust(hspace=0.5)


g = sns.barplot(ax= axes4[0,0], data=twitter_primary, x= 'Category', y = 'Average Engagement', palette=twitter_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes4[0,0].set_title('Twitter')


#Facebook
g = sns.barplot(ax= axes4[0,1], data=facebook_primary, x= 'Category', y = 'Average Engagement', palette=facebook_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes4[0,1].set_title('Facebook')

#Instagram
g = sns.barplot(ax= axes4[1,0], data=instagram_primary, x= 'Category', y = 'Average Impression',palette=instagram_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes4[1,0].set_title('Instagram')

#LinkedIn
g = sns.barplot(ax= axes4[1,1], data=linkedin_primary, x= 'Category', y = 'Average Engagement',palette=linkedin_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes4[1,1].set_title('LinkedIn');

### Twitter

In [79]:
fig, axes_t = plt.subplots(2,2, figsize = (18,10))

fig.suptitle('Twitter Performance', fontsize=20)
fig.subplots_adjust(hspace=0.5)


#Number of post
g = sns.barplot(ax= axes_t[0,0], data=twitter_primary, x= 'Category', y = 'Number of posts',palette=twitter_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_t[0,0].set_title('The total number of post')

#Average Impression
g = sns.barplot(ax= axes_t[0,1], data=twitter_primary, x= 'Category', y = 'Average Impression',palette=twitter_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_t[0,1].set_title('Average Impression')


#Engagement rate
g = sns.barplot(ax= axes_t[1,0], data=twitter_primary, x= 'Category', y = 'Engagement Rate', palette=twitter_primary['color'],order=twitter_primary.sort_values('Engagement Rate', ascending=False).Category)
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_t[1,0].set_title('Engagement Rate')


#Average Engagement
g = sns.barplot(ax= axes_t[1,1], data=twitter_primary, x= 'Category', y = 'Average Engagement', palette=twitter_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_t[1,1].set_title('Average Engagement');

## Facebook

In [44]:
fig, axes_f = plt.subplots(2,2, figsize = (18,10))

fig.suptitle('Facebook Performance', fontsize=20)
fig.subplots_adjust(hspace=0.5)


#Number of post
g = sns.barplot(ax= axes_f[0,0], data=facebook_primary, x= 'Category', y = 'Number of posts',palette=facebook_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_f[0,0].set_title('The total number of post')

#Average Impression
g = sns.barplot(ax= axes_f[0,1], data=facebook_primary, x= 'Category', y = 'Average Impression',palette=facebook_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_f[0,1].set_title('Average Impression')


#Engagement rate
g = sns.barplot(ax= axes_f[1,0], data=facebook_primary, x= 'Category', y = 'Engagement Rate', palette=facebook_primary['color'],order=facebook_primary.sort_values('Engagement Rate', ascending=False).Category)
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_f[1,0].set_title('Engagement Rate')


#Average Engagement
g = sns.barplot(ax= axes_f[1,1], data=facebook_primary, x= 'Category', y = 'Average Engagement', palette=facebook_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_f[1,1].set_title('Average Engagement');

## Instagram

In [80]:
fig, axes_i = plt.subplots(2,2, figsize = (18,10))

fig.suptitle('Instagram Performance', fontsize=20)
fig.subplots_adjust(hspace=0.5)


#Number of post
g = sns.barplot(ax= axes_i[0,0], data=instagram_primary, x= 'Category', y = 'Number of posts',palette=instagram_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_i[0,0].set_title('The total number of post')

#Average Impression
g = sns.barplot(ax= axes_i[0,1], data=instagram_primary, x= 'Category', y = 'Average Impression',palette=instagram_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_i[0,1].set_title('Average Impression')


#Engagement rate
g = sns.barplot(ax= axes_i[1,0], data=instagram_primary, x= 'Category', y = 'Engagement Rate', palette=instagram_primary['color'],order=instagram_primary.sort_values('Engagement Rate', ascending=False).Category)
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_i[1,0].set_title('Engagement Rate')


#Average Engagement
g = sns.barplot(ax= axes_i[1,1], data=instagram_primary, x= 'Category', y = 'Average Engagement', palette=instagram_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_i[1,1].set_title('Average Engagement');

## LinkedIn

In [81]:
fig, axes_l = plt.subplots(2,2, figsize = (18,10))

fig.suptitle('LinkedIn Performance', fontsize=20)
fig.subplots_adjust(hspace=0.5)


#Number of post
g = sns.barplot(ax= axes_l[0,0], data=linkedin_primary, x= 'Category', y = 'Number of posts',palette=linkedin_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_l[0,0].set_title('The total number of post')

#Average Impression
g = sns.barplot(ax= axes_l[0,1], data=linkedin_primary, x= 'Category', y = 'Average Impression',palette=linkedin_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_l[0,1].set_title('Average Impression')


#Engagement rate
g = sns.barplot(ax= axes_l[1,0], data=linkedin_primary, x= 'Category', y = 'Engagement Rate', palette=linkedin_primary['color'],order=linkedin_primary.sort_values('Engagement Rate', ascending=False).Category)
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_l[1,0].set_title('Engagement Rate')


#Average Engagement
g = sns.barplot(ax= axes_l[1,1], data=linkedin_primary, x= 'Category', y = 'Average Engagement', palette=linkedin_primary['color'])
g.set_xticklabels(g.get_xticklabels(),rotation=20)
axes_l[1,1].set_title('Average Engagement');